.webedia {
  &__header {
    &__logo {
      margin: 10px 0;
      text-align: right;
      padding: 0 15px;
      position: relative;
      @include grid-media($webedia__tablet) {
        margin: 20px 0;
        text-align: center;
      }
      a {
        display: inline-block;
      }
    }

    &__menu {
      box-sizing: border-box;
      padding: 10px;

      &__btn {
        content: "";
        background: #ff783e url('/imgs/hamburguer-menu-icon.png') no-repeat center center;
        background-size: 20px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        color: #fff;
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        outline: 0;
        border: 0;
        z-index: 3;
        &:focus, &:active {
          outline: 0;
          border: 0;
        }

        @include grid-media($webedia__tablet) {
          display: none;
        }
      }

      @include grid-media($webedia__mobile) {
        width: 250px;
        height: 100vh;
        position: fixed;
        left: -250px;
        top: 0;
        background-color: #f0f0f0;
        transition: left .3s ease;
        z-index: 2;
        &.webedia__header__menu--opened {
          left: 0;
          overflow-y: visible;
          // max-height: 100vh;
        }

        &__item {
          font-size: 0.8rem;
          display: block;
          cursor: pointer;
          margin: 0;
          padding: 15px 0;
          border-bottom: 1px solid #666;
          &:hover {
            color: $primaryColor;
          }
        }
      }

      @include grid-media($webedia__tablet) {
        width: 100%;
        height: auto;
        position: static;
        background-color: #FFF;
        font-family: 'Poppins';
        box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
        &__container {
          display: flex;
          justify-content: space-between;
        }
        &__item {
          font-size: 0.6875rem;
          display: inline-block;
          margin: 0;
          font-weight: 500;
          margin-top: 5px;
          margin-bottom: 5px;
          border: 0;
          padding: 0;
        }
      }

      &__item {
        text-transform: uppercase;
        color: #666;
        text-decoration: none;
      }
    }
  }
}